.quiz-card {
	background-color: #252d4a;
	width: 450px;
	min-height: 200px;
	height: min-content;
	border-radius: 15px;
	padding: 20px;
	box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
	display: flex;
	justify-content: space-evenly;
}

.score-section {
	display: flex;
	font-size: 24px;
	align-items: center;
	color: white;
}

.question-section {
	width: 100%;
	position: relative;
}

.question-count {
	margin-bottom: 5px;
	color: white;
}

.question-count span {
	color: white;
	font-size: 28px;
}

.question-text {
	color: white;
	font-size: 20px;
	margin-bottom: 20px;
}

.answer-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.answers {
	width: 100%;
	font-size: 16px;
	color: #ffffff;
	background-color: #252d4a;
	border-radius: 15px;
	margin-bottom: 10px;
	padding: 5px;
	justify-content: flex-start;
	align-items: center;
	border: 5px solid #234668;
	cursor: pointer;
}
.answersCorrect {
	width: 100%;
	font-size: 16px;
	color: #ffffff;
	background-color: #252d4a;
	border-radius: 15px;
	margin-bottom: 10px;
	padding: 5px;
	justify-content: flex-start;
	align-items: center;
	border: 5px solid #234668;
	cursor: pointer;
	border-color: #2f922f;
}

.correct {
	background-color: #2f922f;
}

.incorrect {
	background-color: #ff3333;
}

.answers:hover {
	background-color: rgb(153, 148, 148);
	color: #234668;
}

.answers:focus {
	outline: none;
}

