body {
	margin: 0;
}
.wrapper {
	height: 95vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #c4e4eb;
}

.form-wrapper {
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 20px 40px;
	border-radius: 10px;
	box-shadow: 0px 10px 50px #555;
	background-color: #ffffff;
}

form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

h1 {
	text-align: center;
	width: 100%;
	color: #111;
	font-weight: lighter;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-link{
	padding: 0;
}

label {
	font-size: 1.2em;
	margin-bottom: 0.25em;
	color: #222;
	font-weight: lighter;
}

input {
	padding: 10px 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #cfcfcf;
}

input::placeholder {
	font-size: 1.2em;
	font-weight: lighter;
	color: #999;
}

input.error {
	border: 1px solid red;
}

.errorMessage {
	color: red;
	font-size: 0.75em;
	display: relative;
}

.firstName {
	margin-right: 1%;
}

.lastName {
	margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password,
.confirmPassword {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.firstName,
.lastName {
	width: 49%;
}

.email,
.password,
.confirmPassword {
	width: 100%;
}

.createAccount {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.createAccount button {
	background-color: #eb3939;
	color: #fff;
	border: 2px solid #fff;
	width: 100%;
	margin-top: 1em;
	padding: 8px 0px;
	font-size: 1em;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 0.25em;
}

.createAccount button:hover {
	color: #eb3939;
	background-color: #fff;
	border: 2px solid #eb3939;
}

.createAccount small {
	color:black;
	font-weight: lighter;
}

